Adapt::Intent::Processor.instance.define do |nlp|

  nlp.register_keywords 'skill_name', '<%= class_name.gsub("::", " ") -%>'

  nlp.intent('<%= class_name.gsub("::", "/") -%>/example')
      .required('skill_name')

end
